<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Absolute</title>
    <style>
        #a{
            position:relative;
            border: 1px solid red;
            text-align: center;
            height:200px;
            font-size: 30px;
            background: #cc0000;
        }

        #b{
            position:absolute;
            border: 1px solid blue;
            bottom: 20px;
            right:20px;
            font-size:10px;
        }
    </style>
</head>
<body>
<div>
    <div id="a">
        This is div a
        <div id="b">
            This is div b
        </div>

    </div>
</div>

</body>
</html>